.comix_section {
  position: relative;
  min-height: 100vw;
  background-size: cover;
  width: 100%;
  margin-top: -2%;

  .comix_frame {
    position: relative;
    z-index: 2;
    width: 100%;
  }
  .comix_canna_bg {
    width: 50%;
    position: absolute;
    left: 0;
    bottom: 5%;
  }
  .opacity {
    opacity: 0;
  }
  .bubble_top {
    position: absolute;
    width: 35%;
    z-index: 6;
    top: 15%;
    left: 38%;
    .bubble_top_text {
      width: 75%;
      position: absolute;
      left: 12%;
      top: 20%;
    }
  }
  .bubble_bottom {
    position: absolute;
    width: 39%;
    top: 50%;
    left: 29%;
    z-index: 7;
    .bubble_bottom_text {
      width: 50%;
      position: absolute;
      left: 15%;
      top: 18%;
    }
  }
  .canna_pop_up {
    width: 15.6%;
    position: absolute;
    bottom: 6%;
    left: 0;
    z-index: 1;
  }
  .canna_pop_up_text {
    position: absolute;
    width: 38%;
    z-index: 100;
    left: 6%;
    bottom: 6.8%;
  }
  //========================================= Animation

  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translate(0, 20%);
      transform: translate(0, 20%);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translate(0, 20%);
      transform: translate(0, 20%);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  .fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 0.3s;
  }
  @keyframes fadeInLeftBig {
    0% {
      opacity: 0;
      -webkit-transform: translate(-200px, 200px);
      transform: translate(-200px, 200px);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @-webkit-keyframes fadeInLeftBig {
    0% {
      opacity: 0;
      -webkit-transform: translate(-2000px, 0);
      transform: translate(-20px, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
}

/////////////////////////////////////////////////////////////// mobile view commix section

.Mcommix_section {
  margin-top: -22%;
  position: relative;
  z-index: 2;
}
