.comix_section{
  position: relative;

  .bubble_top{
    position: absolute;
    width: 35%;
    top: 15%;
    left: 38%;
  }
  .bubble_bottom{
    position: absolute;
    width: 30%;
    top: 45%;
    left: 34%;
  }
  .comix_text{
    position: absolute;
    width: 40%;
    bottom: 13%;
  }
}
