.header{
  position: relative;
  padding-top: 2%;
  padding-bottom: 20%;
  background-image: url("../assets/header/header_bg.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin-bottom: -23%;

  .header_title{
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 5;
  }
  .opacity{
    opacity: 0;
    position: absolute;
  }
  .npOpacity{
    opacity: 1;
  }
  .header_sound{
    width: 5%;
    height: 9%;
    position: absolute;
    right: 2%;
    top: 2%;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
      transform: scale(1.05);
      transition: 0.3s;
    }
    &:active{
      transform: scale(0.9);
      transition: 0.3s;
    }
  }
  .work_in_progress{
    width: 20%;
    position: absolute;
    top: 10%;
    right: 2.5%;
    z-index: 4;
  }
  .header_main_container{
    display: flex;
    margin-top: 5%;

    .canna{
      margin-left: 3%;
      width: 86%;
    }
  }
}









