@charset "UTF-8";
@font-face {
  font-family: "MouseMemoirs";
  src: url("../fonts/MouseMemoirs-Regular.eot");
  src: local("☺"), url("../fonts/MouseMemoirs-Regular.woff") format("woff"), url("../fonts/MouseMemoirs-Regular.ttf") format("truetype"), url("../fonts/MouseMemoirs-Regular.svg") format("svg");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
.header {
  position: relative;
  padding-top: 2%;
  padding-bottom: 20%;
  background-image: url("../assets/header/header_bg.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin-bottom: -23%;
}
.header .header_title {
  width: 80%;
  margin: auto;
  position: relative;
  z-index: 5;
}
.header .header_sound {
  width: 5%;
  height: 9%;
  position: absolute;
  right: 2%;
  top: 2%;
  cursor: pointer;
}
.header .header_sound:active {
  top: 2.2%;
}
.header .work_in_progress {
  width: 20%;
  position: absolute;
  top: 10%;
  right: 2.5%;
  z-index: 4;
}
.header .header_main_container {
  display: flex;
  margin-top: 5%;
}
.header .header_main_container .canna {
  margin-left: 3%;
  width: 86%;
}

.comix_section {
  position: relative;
}
.comix_section .opacity {
  opacity: 0;
}
.comix_section .bubble_top {
  position: absolute;
  width: 35%;
  top: 15%;
  left: 38%;
}
.comix_section .bubble_bottom {
  position: absolute;
  width: 41%;
  top: 49%;
  left: 29%;
}
.comix_section .comix_text {
  position: absolute;
  width: 40%;
  bottom: 6.2%;
  left: 5%;
  z-index: 100;
}
.comix_section .canna_pop_up {
  width: 15.6%;
  position: absolute;
  bottom: 6.2%;
  left: 0;
}
.comix_section .fadeLeft {
  -webkit-animation-name: fadeIn;
  animation-name: fadeLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translate(-5%, 5%);
  }
  100% {
    opacity: 1;
  }
}
.comix_section .fadeInRight {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(5%, 5%);
  }
  100% {
    opacity: 1;
  }
}
.comix_section .fade {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.canna_slider {
  margin: -17% 0 -15%;
  background-image: url("../assets/slider/slider_bg.webp");
  background-size: cover;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  padding: 20% 0;
}
.canna_slider .slider {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
.canna_slider .slider * {
  margin: 0;
}
.canna_slider .slider .button_prev, .canna_slider .slider .button_next {
  position: absolute;
  width: 5%;
  top: -23%;
  z-index: 10;
  cursor: pointer;
}
.canna_slider .slider .button_prev:active, .canna_slider .slider .button_next:active {
  top: -22.7%;
}
.canna_slider .slider .button_prev {
  right: 10%;
}
.canna_slider .slider .button_next {
  right: 2%;
}

.footer {
  display: flex;
  justify-content: center;
  padding-top: 25%;
  background-image: url("../assets/footer/footer_bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -27%;
}
.footer .canna_container {
  display: flex;
  align-items: end;
  width: 45%;
  margin: auto;
}
.footer .continued {
  width: 27.9%;
  height: 33%;
  position: absolute;
  bottom: 2px;
  right: 0;
}
.footer .insta {
  position: absolute;
  width: 25%;
  left: 63%;
}
.footer .insta a {
  width: 70%;
  height: 55%;
  position: absolute;
  transform: rotate(5deg);
  top: 10%;
  left: 10%;
  z-index: 100;
}
.footer .discord {
  position: absolute;
  width: 30%;
  left: 15%;
  bottom: 35%;
}
.footer .discord a {
  width: 70%;
  height: 50%;
  position: absolute;
  transform: rotate(-10deg);
  border-radius: 50%;
  top: 9%;
  left: 12%;
  z-index: 100;
}
.footer .twitter {
  position: absolute;
  width: 25%;
  left: 9%;
}
.footer .twitter a {
  width: 70%;
  height: 70%;
  position: absolute;
  transform: rotate(-10deg);
  border-radius: 50%;
  top: 5%;
  left: 12%;
  z-index: 100;
}

.teamSection {
  background-image: url("../assets/team/team_bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.teamSection .teamSection_title {
  display: flex;
  width: 70%;
  position: absolute;
  top: 7%;
  left: 10%;
}
.teamSection .teamSection_title .the {
  width: 20%;
}
.teamSection .teamSection_title .team_title {
  width: 35%;
  margin-left: -30px;
}
.teamSection .teamSection_main {
  padding: 18% 0 26%;
  width: 90%;
  margin: auto;
  position: relative;
}
.teamSection .teamSection_main .teamSection_container {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.teamSection .teamSection_main .leo,
.teamSection .teamSection_main .anna,
.teamSection .teamSection_main .fedor,
.teamSection .teamSection_main .filip,
.teamSection .teamSection_main .vojta,
.teamSection .teamSection_main .ramazan {
  width: 27%;
  position: relative;
  margin-bottom: 4%;
  transform: scale(1);
  transition: 0.3s;
  z-index: 11;
}
.teamSection .teamSection_main .leo:hover,
.teamSection .teamSection_main .anna:hover,
.teamSection .teamSection_main .fedor:hover,
.teamSection .teamSection_main .filip:hover,
.teamSection .teamSection_main .vojta:hover,
.teamSection .teamSection_main .ramazan:hover {
  transform: scale(1.1);
  transition: 0.3s;
  z-index: 12;
}
.teamSection .teamSection_main .leo .leo_bubble,
.teamSection .teamSection_main .leo .anna_bubble,
.teamSection .teamSection_main .leo .fedor_bubble,
.teamSection .teamSection_main .leo .filip_bubble,
.teamSection .teamSection_main .leo .vojta_bubble,
.teamSection .teamSection_main .leo .ramazan_bubble,
.teamSection .teamSection_main .anna .leo_bubble,
.teamSection .teamSection_main .anna .anna_bubble,
.teamSection .teamSection_main .anna .fedor_bubble,
.teamSection .teamSection_main .anna .filip_bubble,
.teamSection .teamSection_main .anna .vojta_bubble,
.teamSection .teamSection_main .anna .ramazan_bubble,
.teamSection .teamSection_main .fedor .leo_bubble,
.teamSection .teamSection_main .fedor .anna_bubble,
.teamSection .teamSection_main .fedor .fedor_bubble,
.teamSection .teamSection_main .fedor .filip_bubble,
.teamSection .teamSection_main .fedor .vojta_bubble,
.teamSection .teamSection_main .fedor .ramazan_bubble,
.teamSection .teamSection_main .filip .leo_bubble,
.teamSection .teamSection_main .filip .anna_bubble,
.teamSection .teamSection_main .filip .fedor_bubble,
.teamSection .teamSection_main .filip .filip_bubble,
.teamSection .teamSection_main .filip .vojta_bubble,
.teamSection .teamSection_main .filip .ramazan_bubble,
.teamSection .teamSection_main .vojta .leo_bubble,
.teamSection .teamSection_main .vojta .anna_bubble,
.teamSection .teamSection_main .vojta .fedor_bubble,
.teamSection .teamSection_main .vojta .filip_bubble,
.teamSection .teamSection_main .vojta .vojta_bubble,
.teamSection .teamSection_main .vojta .ramazan_bubble,
.teamSection .teamSection_main .ramazan .leo_bubble,
.teamSection .teamSection_main .ramazan .anna_bubble,
.teamSection .teamSection_main .ramazan .fedor_bubble,
.teamSection .teamSection_main .ramazan .filip_bubble,
.teamSection .teamSection_main .ramazan .vojta_bubble,
.teamSection .teamSection_main .ramazan .ramazan_bubble {
  width: 70%;
  position: absolute;
  z-index: 10;
  font-size: 1.3vw;
}
.teamSection .teamSection_main .leo .leo_bubble,
.teamSection .teamSection_main .anna .leo_bubble,
.teamSection .teamSection_main .fedor .leo_bubble,
.teamSection .teamSection_main .filip .leo_bubble,
.teamSection .teamSection_main .vojta .leo_bubble,
.teamSection .teamSection_main .ramazan .leo_bubble {
  top: 65%;
  left: 30%;
}
.teamSection .teamSection_main .leo .leo_bubble p,
.teamSection .teamSection_main .anna .leo_bubble p,
.teamSection .teamSection_main .fedor .leo_bubble p,
.teamSection .teamSection_main .filip .leo_bubble p,
.teamSection .teamSection_main .vojta .leo_bubble p,
.teamSection .teamSection_main .ramazan .leo_bubble p {
  position: absolute;
  top: 40%;
  left: 15%;
}
.teamSection .teamSection_main .leo .filip_bubble,
.teamSection .teamSection_main .anna .filip_bubble,
.teamSection .teamSection_main .fedor .filip_bubble,
.teamSection .teamSection_main .filip .filip_bubble,
.teamSection .teamSection_main .vojta .filip_bubble,
.teamSection .teamSection_main .ramazan .filip_bubble {
  top: 63%;
  left: 35%;
}
.teamSection .teamSection_main .leo .filip_bubble p,
.teamSection .teamSection_main .anna .filip_bubble p,
.teamSection .teamSection_main .fedor .filip_bubble p,
.teamSection .teamSection_main .filip .filip_bubble p,
.teamSection .teamSection_main .vojta .filip_bubble p,
.teamSection .teamSection_main .ramazan .filip_bubble p {
  position: absolute;
  top: 42%;
  left: 15%;
}
.teamSection .teamSection_main .leo .vojta_bubble,
.teamSection .teamSection_main .anna .vojta_bubble,
.teamSection .teamSection_main .fedor .vojta_bubble,
.teamSection .teamSection_main .filip .vojta_bubble,
.teamSection .teamSection_main .vojta .vojta_bubble,
.teamSection .teamSection_main .ramazan .vojta_bubble {
  top: 60%;
  left: 0;
}
.teamSection .teamSection_main .leo .vojta_bubble p,
.teamSection .teamSection_main .anna .vojta_bubble p,
.teamSection .teamSection_main .fedor .vojta_bubble p,
.teamSection .teamSection_main .filip .vojta_bubble p,
.teamSection .teamSection_main .vojta .vojta_bubble p,
.teamSection .teamSection_main .ramazan .vojta_bubble p {
  position: absolute;
  top: 40%;
  left: 15%;
}
.teamSection .teamSection_main .leo .ramazan_bubble,
.teamSection .teamSection_main .anna .ramazan_bubble,
.teamSection .teamSection_main .fedor .ramazan_bubble,
.teamSection .teamSection_main .filip .ramazan_bubble,
.teamSection .teamSection_main .vojta .ramazan_bubble,
.teamSection .teamSection_main .ramazan .ramazan_bubble {
  top: 60%;
  left: 12%;
}
.teamSection .teamSection_main .leo .ramazan_bubble p,
.teamSection .teamSection_main .anna .ramazan_bubble p,
.teamSection .teamSection_main .fedor .ramazan_bubble p,
.teamSection .teamSection_main .filip .ramazan_bubble p,
.teamSection .teamSection_main .vojta .ramazan_bubble p,
.teamSection .teamSection_main .ramazan .ramazan_bubble p {
  position: absolute;
  top: 45%;
  left: 15%;
}
.teamSection .teamSection_main .leo .anna_bubble,
.teamSection .teamSection_main .anna .anna_bubble,
.teamSection .teamSection_main .fedor .anna_bubble,
.teamSection .teamSection_main .filip .anna_bubble,
.teamSection .teamSection_main .vojta .anna_bubble,
.teamSection .teamSection_main .ramazan .anna_bubble {
  top: -2%;
  left: -22%;
}
.teamSection .teamSection_main .leo .anna_bubble p,
.teamSection .teamSection_main .anna .anna_bubble p,
.teamSection .teamSection_main .fedor .anna_bubble p,
.teamSection .teamSection_main .filip .anna_bubble p,
.teamSection .teamSection_main .vojta .anna_bubble p,
.teamSection .teamSection_main .ramazan .anna_bubble p {
  position: absolute;
  top: 25%;
  left: 15%;
}
.teamSection .teamSection_main .leo .fedor_bubble,
.teamSection .teamSection_main .anna .fedor_bubble,
.teamSection .teamSection_main .fedor .fedor_bubble,
.teamSection .teamSection_main .filip .fedor_bubble,
.teamSection .teamSection_main .vojta .fedor_bubble,
.teamSection .teamSection_main .ramazan .fedor_bubble {
  top: 4%;
  left: -30%;
}
.teamSection .teamSection_main .leo .fedor_bubble p,
.teamSection .teamSection_main .anna .fedor_bubble p,
.teamSection .teamSection_main .fedor .fedor_bubble p,
.teamSection .teamSection_main .filip .fedor_bubble p,
.teamSection .teamSection_main .vojta .fedor_bubble p,
.teamSection .teamSection_main .ramazan .fedor_bubble p {
  position: absolute;
  top: 30%;
  left: 15%;
}
.teamSection .bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-duration: 1s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1.1, 1.1);
  }
  40% {
    transform: scale(0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale(1.03, 1.03);
  }
  80% {
    transform: scale(0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
.teamSection .zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-duration: 1s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3);
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3);
  }
  100% {
    opacity: 0;
  }
}

body {
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MouseMemoirs", sans-serif;
}

.wrapper {
  width: 90%;
  padding: 0;
  margin: auto;
  border-right: 5px solid black;
  border-left: 5px solid black;
}

img {
  user-select: none;
  width: 100%;
}

.minHeight {
  min-height: 100vh;
}

/*# sourceMappingURL=index.css.map */
