@charset "UTF-8";
@import "../../node_modules/normalize.css/normalize.css";
.header {
  position: relative;
  padding: 2% 0 20%;
  background-image: url("../assets/header/browser/header_bg.webp");
  background-repeat: no-repeat;
  background-size: 100% 113%;
  background-position: center;
  margin-bottom: -23%;
}
.header .header_title {
  width: 80%;
  margin: auto;
  position: relative;
  z-index: 5;
}
.header .opacity {
  opacity: 0;
  position: absolute;
}
.header .npOpacity {
  opacity: 1;
}
.header .header_sound {
  width: 5%;
  height: 9%;
  position: absolute;
  right: 2%;
  top: 2%;
  cursor: pointer;
  transition: 0.3s;
}
.header .header_sound:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.header .header_sound:active {
  transform: scale(0.9);
  transition: 0.3s;
}
.header .work_in_progress {
  width: 20%;
  position: absolute;
  top: 10%;
  right: 2.5%;
  z-index: 4;
}
.header .header_main_container {
  display: flex;
  margin-top: 5%;
}
.header .header_main_container .canna {
  margin-left: 3%;
  width: 86%;
}
.header .sound {
  animation: shadow 1s ease infinite;
  border-radius: 50%;
}
@keyframes shadow {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.3);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 30px rgba(90, 153, 212, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

.Mheader {
  position: relative;
  background-image: url("../assets/header/mobile/header_bg_mobile.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding: 20% 0 25% 0;
}
.Mheader .active {
  background-color: rgba(128, 128, 128, 0.49);
}
.Mheader .header_top_panel {
  background-image: url("../assets/header/mobile/header_top_panel.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 0 4% 6% 2%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.Mheader .header_top_panel .title {
  width: 60%;
  padding-top: 2%;
}
.Mheader .header_top_panel .twitter {
  width: 10%;
  padding-top: 3%;
}
.Mheader .header_top_panel .menu_burger {
  width: 14%;
  padding: 3% 2% 2%;
}
.Mheader .canna_logo {
  width: 40%;
  margin: 5% auto;
}
.Mheader .work_in_progress {
  width: 30%;
  position: absolute;
  top: 6%;
  right: 2%;
}
.Mheader .sound {
  width: 10%;
  margin-left: auto;
  margin-right: 7%;
  margin-top: -18%;
}
.Mheader .cannasapiens_header_title {
  width: 95%;
  margin: auto;
}
.Mheader .pushup_canna {
  width: 100%;
  margin: 3%;
}

.comix_section {
  position: relative;
  min-height: 100vw;
  background-size: cover;
  width: 100%;
  margin-top: -2%;
}
.comix_section .comix_frame {
  position: relative;
  z-index: 2;
  width: 100%;
}
.comix_section .comix_canna_bg {
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 5%;
}
.comix_section .opacity {
  opacity: 0;
}
.comix_section .bubble_top {
  position: absolute;
  width: 35%;
  z-index: 6;
  top: 15%;
  left: 38%;
}
.comix_section .bubble_top .bubble_top_text {
  width: 75%;
  position: absolute;
  left: 12%;
  top: 20%;
}
.comix_section .bubble_bottom {
  position: absolute;
  width: 39%;
  top: 50%;
  left: 29%;
  z-index: 7;
}
.comix_section .bubble_bottom .bubble_bottom_text {
  width: 50%;
  position: absolute;
  left: 15%;
  top: 18%;
}
.comix_section .canna_pop_up {
  width: 15.6%;
  position: absolute;
  bottom: 6%;
  left: 0;
  z-index: 1;
}
.comix_section .canna_pop_up_text {
  position: absolute;
  width: 38%;
  z-index: 100;
  left: 6%;
  bottom: 6.8%;
}
.comix_section .fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 20%);
    transform: translate(0, 20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 20%);
    transform: translate(0, 20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.comix_section .fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0.3s;
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate(-200px, 200px);
    transform: translate(-200px, 200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate(-2000px, 0);
    transform: translate(-20px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.Mcommix_section {
  margin-top: -22%;
  position: relative;
  z-index: 2;
}

.canna_slider {
  margin: -27% 0 -15%;
  background-image: url("../assets/slider/browser/slider_bg.webp");
  background-size: cover;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  padding: 20% 0 7%;
  position: relative;
}
.canna_slider .slider {
  width: 100%;
  position: relative;
  display: flex;
  margin: 4% 0 5%;
}
.canna_slider .slider .slide {
  width: 100%;
  margin: -2% 0 5%;
  padding-bottom: 5%;
}
.canna_slider .slider .slide .slide_1_1_text,
.canna_slider .slider .slide .slide_1_2_text,
.canna_slider .slider .slide .slide_2_1_text,
.canna_slider .slider .slide .slide_2_2_text {
  margin-top: 10%;
}
.canna_slider .slider .slide .slide_1_1 {
  width: 8%;
  position: absolute;
  bottom: 19%;
  left: 5%;
}
.canna_slider .slider .slide .slide_1_1 .slide_1_1_title {
  width: 60%;
}
.canna_slider .slider .slide .slide_1_2 {
  width: 10%;
  position: absolute;
  bottom: 19%;
  left: 20%;
}
.canna_slider .slider .slide .slide_1_2 .slide_1_2_title {
  width: 60%;
}
.canna_slider .slider .slide .slide_2_1 {
  width: 10%;
  position: absolute;
  bottom: 17%;
  left: 38%;
}
.canna_slider .slider .slide .slide_2_1 .slide_2_1_title {
  width: 60%;
}
.canna_slider .slider .slide .slide_2_2 {
  width: 9%;
  position: absolute;
  bottom: 16%;
  left: 53%;
}
.canna_slider .slider .slide .slide_2_2 .slide_2_2_title {
  width: 33%;
}
.canna_slider .slider .slide .slide_3_1 {
  width: 10%;
  position: absolute;
  bottom: 16%;
  left: 77%;
}
.canna_slider .slider .slide .slide_3_1 .slide_3_1_title {
  width: 55%;
}
.canna_slider .slider .slide .slide_3_1 img {
  margin-top: 7%;
}
.canna_slider .slider * {
  margin: 0;
}
.canna_slider .slider .button_prev,
.canna_slider .slider .button_next {
  position: absolute;
  width: 5%;
  top: -7%;
  z-index: 100;
  cursor: pointer;
  transition: 0.3s;
}
.canna_slider .slider .button_prev:hover,
.canna_slider .slider .button_next:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.canna_slider .slider .button_prev:active,
.canna_slider .slider .button_next:active {
  transform: scale(0.9);
  transition: 0.3s;
}
.canna_slider .slider .button_prev {
  right: 10%;
}
.canna_slider .slider .button_next {
  right: 2%;
}

.Mroad_map {
  position: relative;
  background-image: url("../assets/slider/mobile/roadmap_bg.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding: 12% 0 20%;
  margin-top: -12%;
  z-index: 1;
}
.Mroad_map .road_map_logo {
  width: 55%;
  margin-left: auto;
  margin-right: 10%;
}
.Mroad_map .stages {
  width: 90%;
  margin: 10% auto;
  display: flex;
  align-items: start;
}
.Mroad_map .stages img {
  width: 45%;
  margin: 2%;
}

.footer {
  padding-top: 24%;
  background-image: url("../assets/footer/browser/footer_bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -27%;
  z-index: 6;
}
.footer .opacity {
  opacity: 0;
}
.footer .footer_container {
  display: flex;
  align-items: end;
}
.footer .canna_container {
  width: 80%;
  display: flex;
}
.footer .canna_container img {
  margin-left: 35%;
  width: 55%;
}
.footer .continued {
  width: 20%;
  position: relative;
  display: flex;
}
.footer .continued .canna {
  display: flex;
  height: 100%;
  position: relative;
  z-index: 1;
}
.footer .continued .canna_bubble {
  width: 80%;
  position: absolute;
  right: 68%;
  bottom: 43%;
  z-index: 0;
}
.footer .hovered {
  transform: scale(1.05);
  transition: 0.3s;
}
.footer .insta {
  position: absolute;
  width: 25%;
  left: 64%;
  bottom: 40%;
  transition: 0.3s;
}
.footer .insta a {
  width: 70%;
  height: 55%;
  position: absolute;
  transform: rotate(5deg);
  top: 10%;
  left: 10%;
  z-index: 100;
}
.footer .insta:active {
  transform: scale(1);
  transition: 0.2s;
}
.footer .discord {
  position: absolute;
  width: 30%;
  left: 15%;
  bottom: 35%;
  transition: 0.3s;
}
.footer .discord a {
  width: 70%;
  height: 50%;
  position: absolute;
  transform: rotate(-10deg);
  border-radius: 50%;
  top: 9%;
  left: 12%;
  z-index: 100;
}
.footer .discord:active {
  transform: scale(1);
  transition: 0.2s;
}
.footer .twitter {
  position: absolute;
  width: 25%;
  left: 9%;
  bottom: 17%;
  transition: 0.3s;
}
.footer .twitter a {
  width: 70%;
  height: 70%;
  position: absolute;
  transform: rotate(-10deg);
  border-radius: 50%;
  top: 5%;
  left: 12%;
  z-index: 100;
}
.footer .twitter:active {
  transform: scale(1);
  transition: 0.2s;
}
.footer .fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate(2000px, 0);
    transform: translate(2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.footer .bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 1s;
  animation-duration: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1.1, 1.1);
  }
  40% {
    transform: scale(0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale(1.03, 1.03);
  }
  80% {
    transform: scale(0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1.1, 1.1);
  }
  40% {
    transform: scale(0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale(1.03, 1.03);
  }
  80% {
    transform: scale(0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.Mfooter {
  position: relative;
  z-index: 10;
  background-image: url("../assets/footer/mobile/footer_bg_mobile.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin-top: -20%;
}
.Mfooter .boombox {
  width: 40%;
  margin: auto;
  padding: 75% 0 30%;
}
.Mfooter .twitter {
  width: 40%;
  position: absolute;
  top: 35%;
  left: 3%;
  z-index: 10;
}
.Mfooter .twitter a {
  width: 70%;
  height: 70%;
  position: absolute;
  border-radius: 50%;
  top: 5%;
  left: 12%;
  z-index: 100;
  webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.Mfooter .twitter:active {
  transform: scale(-0.1);
  transition: 1s;
}
.Mfooter .discord {
  width: 50%;
  position: absolute;
  top: 15%;
  left: 20%;
}
.Mfooter .discord a {
  width: 80%;
  height: 50%;
  position: absolute;
  border-radius: 50%;
  top: 7%;
  left: 8%;
  z-index: 100;
  webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.Mfooter .discord:active {
  transform: scale(-0.1);
  transition: 1s;
}
.Mfooter .insta {
  width: 33%;
  position: absolute;
  top: 33%;
  right: 5%;
}
.Mfooter .insta a {
  width: 90%;
  height: 60%;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 100;
  webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.Mfooter .insta:active {
  transform: scale(-0.1);
  transition: 1s;
}
.Mfooter .to_be_continued {
  width: 35%;
  position: absolute;
  bottom: -1%;
  right: 0;
  display: flex;
  z-index: 1000;
}
.Mfooter .to_be_continued .canna {
  display: flex;
  height: 100%;
  position: relative;
  z-index: 1;
}
.Mfooter .to_be_continued .canna_bubble {
  width: 110%;
  position: absolute;
  right: 58%;
  bottom: 15%;
  z-index: 0;
  transform: rotate(20deg);
}
.Mfooter .fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate(2000px, 0);
    transform: translate(2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.Mfooter .bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 1s;
  animation-duration: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1.1, 1.1);
  }
  40% {
    transform: scale(0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale(1.03, 1.03);
  }
  80% {
    transform: scale(0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1.1, 1.1);
  }
  40% {
    transform: scale(0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale(1.03, 1.03);
  }
  80% {
    transform: scale(0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.teamSection {
  background-image: url("../assets/team/browser/team_bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}
.teamSection .teamSection_title {
  display: flex;
  width: 70%;
  position: absolute;
  top: 2.3%;
  left: 10%;
  text-align: center;
  justify-content: center;
}
.teamSection .teamSection_title .the {
  width: 50%;
}
.teamSection .teamSection_main {
  padding: 12% 0 26%;
  width: 90%;
  margin: auto;
  position: relative;
}
.teamSection .teamSection_main .teamSection_container {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.teamSection .teamSection_main .leo,
.teamSection .teamSection_main .anna,
.teamSection .teamSection_main .fedor,
.teamSection .teamSection_main .filip,
.teamSection .teamSection_main .vojta,
.teamSection .teamSection_main .ramazan {
  width: 28%;
  position: relative;
  margin-bottom: 3%;
  transition: 0.3s;
}
.teamSection .teamSection_main .leo img,
.teamSection .teamSection_main .anna img,
.teamSection .teamSection_main .fedor img,
.teamSection .teamSection_main .filip img,
.teamSection .teamSection_main .vojta img,
.teamSection .teamSection_main .ramazan img {
  transition: 0.3s;
}
.teamSection .teamSection_main .leo .hovered,
.teamSection .teamSection_main .anna .hovered,
.teamSection .teamSection_main .fedor .hovered,
.teamSection .teamSection_main .filip .hovered,
.teamSection .teamSection_main .vojta .hovered,
.teamSection .teamSection_main .ramazan .hovered {
  transform: scale(1.1);
  transition: 0.3s;
}
.teamSection .teamSection_main .leo .leo_bubble,
.teamSection .teamSection_main .leo .anna_bubble,
.teamSection .teamSection_main .leo .fedor_bubble,
.teamSection .teamSection_main .leo .filip_bubble,
.teamSection .teamSection_main .leo .vojta_bubble,
.teamSection .teamSection_main .leo .ramazan_bubble,
.teamSection .teamSection_main .anna .leo_bubble,
.teamSection .teamSection_main .anna .anna_bubble,
.teamSection .teamSection_main .anna .fedor_bubble,
.teamSection .teamSection_main .anna .filip_bubble,
.teamSection .teamSection_main .anna .vojta_bubble,
.teamSection .teamSection_main .anna .ramazan_bubble,
.teamSection .teamSection_main .fedor .leo_bubble,
.teamSection .teamSection_main .fedor .anna_bubble,
.teamSection .teamSection_main .fedor .fedor_bubble,
.teamSection .teamSection_main .fedor .filip_bubble,
.teamSection .teamSection_main .fedor .vojta_bubble,
.teamSection .teamSection_main .fedor .ramazan_bubble,
.teamSection .teamSection_main .filip .leo_bubble,
.teamSection .teamSection_main .filip .anna_bubble,
.teamSection .teamSection_main .filip .fedor_bubble,
.teamSection .teamSection_main .filip .filip_bubble,
.teamSection .teamSection_main .filip .vojta_bubble,
.teamSection .teamSection_main .filip .ramazan_bubble,
.teamSection .teamSection_main .vojta .leo_bubble,
.teamSection .teamSection_main .vojta .anna_bubble,
.teamSection .teamSection_main .vojta .fedor_bubble,
.teamSection .teamSection_main .vojta .filip_bubble,
.teamSection .teamSection_main .vojta .vojta_bubble,
.teamSection .teamSection_main .vojta .ramazan_bubble,
.teamSection .teamSection_main .ramazan .leo_bubble,
.teamSection .teamSection_main .ramazan .anna_bubble,
.teamSection .teamSection_main .ramazan .fedor_bubble,
.teamSection .teamSection_main .ramazan .filip_bubble,
.teamSection .teamSection_main .ramazan .vojta_bubble,
.teamSection .teamSection_main .ramazan .ramazan_bubble {
  position: absolute;
  z-index: 20;
  font-size: 1.2vw;
  text-align: center;
}
.teamSection .teamSection_main .leo .filip_bubble,
.teamSection .teamSection_main .anna .filip_bubble,
.teamSection .teamSection_main .fedor .filip_bubble,
.teamSection .teamSection_main .filip .filip_bubble,
.teamSection .teamSection_main .vojta .filip_bubble,
.teamSection .teamSection_main .ramazan .filip_bubble {
  top: 68%;
  left: 20%;
  width: 89%;
}
.teamSection .teamSection_main .leo .filip_bubble .bubble_text_title,
.teamSection .teamSection_main .anna .filip_bubble .bubble_text_title,
.teamSection .teamSection_main .fedor .filip_bubble .bubble_text_title,
.teamSection .teamSection_main .filip .filip_bubble .bubble_text_title,
.teamSection .teamSection_main .vojta .filip_bubble .bubble_text_title,
.teamSection .teamSection_main .ramazan .filip_bubble .bubble_text_title {
  width: 43%;
  margin-left: 28%;
}
.teamSection .teamSection_main .leo .filip_bubble .bubble_text,
.teamSection .teamSection_main .anna .filip_bubble .bubble_text,
.teamSection .teamSection_main .fedor .filip_bubble .bubble_text,
.teamSection .teamSection_main .filip .filip_bubble .bubble_text,
.teamSection .teamSection_main .vojta .filip_bubble .bubble_text,
.teamSection .teamSection_main .ramazan .filip_bubble .bubble_text {
  width: 80%;
  position: absolute;
  top: 20%;
  left: 10%;
}
.teamSection .teamSection_main .leo .leo_bubble,
.teamSection .teamSection_main .anna .leo_bubble,
.teamSection .teamSection_main .fedor .leo_bubble,
.teamSection .teamSection_main .filip .leo_bubble,
.teamSection .teamSection_main .vojta .leo_bubble,
.teamSection .teamSection_main .ramazan .leo_bubble {
  top: 60%;
  left: -15%;
  width: 100%;
}
.teamSection .teamSection_main .leo .leo_bubble .bubble_text_title,
.teamSection .teamSection_main .anna .leo_bubble .bubble_text_title,
.teamSection .teamSection_main .fedor .leo_bubble .bubble_text_title,
.teamSection .teamSection_main .filip .leo_bubble .bubble_text_title,
.teamSection .teamSection_main .vojta .leo_bubble .bubble_text_title,
.teamSection .teamSection_main .ramazan .leo_bubble .bubble_text_title {
  width: 33%;
  margin-left: 30%;
}
.teamSection .teamSection_main .leo .leo_bubble .bubble_text,
.teamSection .teamSection_main .anna .leo_bubble .bubble_text,
.teamSection .teamSection_main .fedor .leo_bubble .bubble_text,
.teamSection .teamSection_main .filip .leo_bubble .bubble_text,
.teamSection .teamSection_main .vojta .leo_bubble .bubble_text,
.teamSection .teamSection_main .ramazan .leo_bubble .bubble_text {
  width: 85%;
  position: absolute;
  top: 32%;
  left: 9%;
  transform: rotate(-4deg);
}
.teamSection .teamSection_main .leo .vojta_bubble,
.teamSection .teamSection_main .anna .vojta_bubble,
.teamSection .teamSection_main .fedor .vojta_bubble,
.teamSection .teamSection_main .filip .vojta_bubble,
.teamSection .teamSection_main .vojta .vojta_bubble,
.teamSection .teamSection_main .ramazan .vojta_bubble {
  width: 110%;
  top: 52%;
  left: -31%;
}
.teamSection .teamSection_main .leo .vojta_bubble .bubble_text_title,
.teamSection .teamSection_main .anna .vojta_bubble .bubble_text_title,
.teamSection .teamSection_main .fedor .vojta_bubble .bubble_text_title,
.teamSection .teamSection_main .filip .vojta_bubble .bubble_text_title,
.teamSection .teamSection_main .vojta .vojta_bubble .bubble_text_title,
.teamSection .teamSection_main .ramazan .vojta_bubble .bubble_text_title {
  width: 70%;
  margin-left: 12%;
}
.teamSection .teamSection_main .leo .vojta_bubble .bubble_text,
.teamSection .teamSection_main .anna .vojta_bubble .bubble_text,
.teamSection .teamSection_main .fedor .vojta_bubble .bubble_text,
.teamSection .teamSection_main .filip .vojta_bubble .bubble_text,
.teamSection .teamSection_main .vojta .vojta_bubble .bubble_text,
.teamSection .teamSection_main .ramazan .vojta_bubble .bubble_text {
  width: 90%;
  font-size: 1.3vw;
  position: absolute;
  top: 25%;
  left: 6%;
}
.teamSection .teamSection_main .leo .ramazan_bubble,
.teamSection .teamSection_main .anna .ramazan_bubble,
.teamSection .teamSection_main .fedor .ramazan_bubble,
.teamSection .teamSection_main .filip .ramazan_bubble,
.teamSection .teamSection_main .vojta .ramazan_bubble,
.teamSection .teamSection_main .ramazan .ramazan_bubble {
  top: 49%;
  left: -12%;
  width: 100%;
}
.teamSection .teamSection_main .leo .ramazan_bubble .bubble_text_title,
.teamSection .teamSection_main .anna .ramazan_bubble .bubble_text_title,
.teamSection .teamSection_main .fedor .ramazan_bubble .bubble_text_title,
.teamSection .teamSection_main .filip .ramazan_bubble .bubble_text_title,
.teamSection .teamSection_main .vojta .ramazan_bubble .bubble_text_title,
.teamSection .teamSection_main .ramazan .ramazan_bubble .bubble_text_title {
  width: 45%;
  margin-left: 28%;
}
.teamSection .teamSection_main .leo .ramazan_bubble .bubble_text,
.teamSection .teamSection_main .anna .ramazan_bubble .bubble_text,
.teamSection .teamSection_main .fedor .ramazan_bubble .bubble_text,
.teamSection .teamSection_main .filip .ramazan_bubble .bubble_text,
.teamSection .teamSection_main .vojta .ramazan_bubble .bubble_text,
.teamSection .teamSection_main .ramazan .ramazan_bubble .bubble_text {
  position: absolute;
  top: 27%;
  left: 8%;
  width: 90%;
}
.teamSection .teamSection_main .leo .anna_bubble,
.teamSection .teamSection_main .anna .anna_bubble,
.teamSection .teamSection_main .fedor .anna_bubble,
.teamSection .teamSection_main .filip .anna_bubble,
.teamSection .teamSection_main .vojta .anna_bubble,
.teamSection .teamSection_main .ramazan .anna_bubble {
  top: 48%;
  left: -35%;
  width: 95%;
}
.teamSection .teamSection_main .leo .anna_bubble .bubble_text_title,
.teamSection .teamSection_main .anna .anna_bubble .bubble_text_title,
.teamSection .teamSection_main .fedor .anna_bubble .bubble_text_title,
.teamSection .teamSection_main .filip .anna_bubble .bubble_text_title,
.teamSection .teamSection_main .vojta .anna_bubble .bubble_text_title,
.teamSection .teamSection_main .ramazan .anna_bubble .bubble_text_title {
  width: 73%;
  margin-left: 17%;
}
.teamSection .teamSection_main .leo .anna_bubble .bubble_text,
.teamSection .teamSection_main .anna .anna_bubble .bubble_text,
.teamSection .teamSection_main .fedor .anna_bubble .bubble_text,
.teamSection .teamSection_main .filip .anna_bubble .bubble_text,
.teamSection .teamSection_main .vojta .anna_bubble .bubble_text,
.teamSection .teamSection_main .ramazan .anna_bubble .bubble_text {
  width: 90%;
  position: absolute;
  top: 32%;
  left: 8%;
}
.teamSection .teamSection_main .leo .fedor_bubble,
.teamSection .teamSection_main .anna .fedor_bubble,
.teamSection .teamSection_main .fedor .fedor_bubble,
.teamSection .teamSection_main .filip .fedor_bubble,
.teamSection .teamSection_main .vojta .fedor_bubble,
.teamSection .teamSection_main .ramazan .fedor_bubble {
  top: 52%;
  left: -50%;
  width: 100%;
}
.teamSection .teamSection_main .leo .fedor_bubble .bubble_text_title,
.teamSection .teamSection_main .anna .fedor_bubble .bubble_text_title,
.teamSection .teamSection_main .fedor .fedor_bubble .bubble_text_title,
.teamSection .teamSection_main .filip .fedor_bubble .bubble_text_title,
.teamSection .teamSection_main .vojta .fedor_bubble .bubble_text_title,
.teamSection .teamSection_main .ramazan .fedor_bubble .bubble_text_title {
  width: 65%;
  margin-left: 20%;
  transform: rotate(4deg);
}
.teamSection .teamSection_main .leo .fedor_bubble .bubble_text,
.teamSection .teamSection_main .anna .fedor_bubble .bubble_text,
.teamSection .teamSection_main .fedor .fedor_bubble .bubble_text,
.teamSection .teamSection_main .filip .fedor_bubble .bubble_text,
.teamSection .teamSection_main .vojta .fedor_bubble .bubble_text,
.teamSection .teamSection_main .ramazan .fedor_bubble .bubble_text {
  width: 90%;
  position: absolute;
  top: 35%;
  left: 8%;
  transform: rotate(-4deg);
}
.teamSection .bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 1s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1.1, 1.1);
  }
  40% {
    transform: scale(0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale(1.03, 1.03);
  }
  80% {
    transform: scale(0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
.teamSection .zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: none;
}
@keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale(0.3, 0.3);
  }
  100% {
    opacity: 0;
  }
}

.Mteam_section {
  position: relative;
  padding: 12% 0 20%;
  z-index: 3;
  background-image: url("../assets/team/mobile/team_bg_mobile.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin-top: -10%;
}
.Mteam_section .team_title {
  width: 60%;
  margin: auto;
}
.Mteam_section .slider {
  width: 100%;
  position: relative;
  margin: 10% 0 5%;
}
.Mteam_section .slider * {
  margin: 0 0;
}
.Mteam_section .slider .button_prev,
.Mteam_section .slider .button_next {
  width: 10%;
  position: absolute;
  z-index: 3;
  cursor: pointer;
  transition: 0.3s;
}
.Mteam_section .slider .button_prev:active,
.Mteam_section .slider .button_next:active {
  transform: scale(0.9);
  transition: 0.3s;
}
.Mteam_section .slider .button_prev {
  top: 28%;
  left: 3%;
}
.Mteam_section .slider .button_next {
  top: 27%;
  right: 3%;
}
.Mteam_section .slider .slide {
  width: 100%;
  padding: 0 15%;
}
.Mteam_section .slider .slide .team_message {
  width: 90%;
  margin: 10% auto 0;
  text-align: center;
  font-size: 3.5vw;
}
.Mteam_section .slider .slide .team_message .filip {
  width: 35%;
}
.Mteam_section .slider .slide .team_message .leo {
  width: 30%;
}
.Mteam_section .slider .slide .team_message .vojta {
  width: 75%;
}
.Mteam_section .slider .slide .team_message .ramazan {
  width: 45%;
}
.Mteam_section .slider .slide .team_message .anna {
  width: 70%;
}
.Mteam_section .slider .slide .team_message .fedor {
  width: 75%;
}

.loading_page {
  background-color: #b08efe;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9000;
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}
.loading_page .preloader__logo {
  width: 70%;
  left: 15vw;
  max-height: 100vh;
  position: absolute;
}
.loading_page .preloader__loading {
  width: 15%;
  font-size: 5vw;
  left: 41vw;
  top: 28vw;
  position: absolute;
}

.Mloading_page {
  background-color: #b08efe;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9000;
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}
.Mloading_page .preloader__logo {
  width: 125%;
  left: -10vw;
  max-height: 100vh;
  position: absolute;
}
.Mloading_page .preloader__loading {
  width: 30%;
  font-size: 5vw;
  left: 35vw;
  top: 53vw;
  position: absolute;
}

.done {
  opacity: 0;
  visibility: hidden;
}

.dropDownMenu {
  width: 47%;
  position: fixed;
  padding: 14% 0 6.3% 5.2%;
  right: 6%;
  top: 3%;
  z-index: 100;
  background-image: url("../assets/menu_burger/dropdown_menu.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  visibility: visible;
}
.dropDownMenu .menu_burger_buttons {
  width: 100%;
  padding: 9% 0;
  background-color: rgba(139, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropDownMenu .back_to_top {
  background-color: #b08efe;
}
.dropDownMenu .back_to_top img {
  width: 50%;
}
.dropDownMenu .introduction {
  background-color: #fff;
}
.dropDownMenu .introduction img {
  width: 60%;
}
.dropDownMenu .roadmap {
  background-color: #b08efe;
}
.dropDownMenu .roadmap img {
  width: 45%;
}
.dropDownMenu .the_team {
  background-color: #fff;
}
.dropDownMenu .the_team img {
  width: 45%;
}
.dropDownMenu .social_media {
  background-color: #b08efe;
}
.dropDownMenu .social_media img {
  width: 55%;
}

.visibility {
  visibility: hidden;
}

@font-face {
  font-family: "MouseMemoirs";
  src: url("../fonts/MouseMemoirs-Regular.eot");
  src: local("☺"), url("../fonts/MouseMemoirs-Regular.woff") format("woff"), url("../fonts/MouseMemoirs-Regular.ttf") format("truetype"), url("../fonts/MouseMemoirs-Regular.svg") format("svg");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #b08efe;
  animation-name: fade_loading;
  animation-duration: 700ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MouseMemoirs", sans-serif;
}

.app_container {
  display: flex;
}

.main {
  margin: auto;
  width: 100%;
}

img {
  user-select: none;
  width: 100%;
}

.root_main {
  -webkit-animation-name: main_loading;
  animation-name: main_loading;
  -webkit-animation-duration: 0.5s;
  animation-duration: 500ms;
  animation-delay: 200ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes main_loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.dark_border {
  width: 5%;
  background-color: black;
  position: relative;
  z-index: 150;
  margin-bottom: -2.1%;
}

.left_commix_border,
.right_commix_border {
  width: 3%;
  position: relative;
  z-index: 100;
  margin-bottom: -1%;
  background-color: white;
}

.left_commix_border {
  border-left: 0.4vw solid black;
}

.right_commix_border {
  border-right: 0.4vw solid black;
}

.bottom_commix_border {
  width: 86.9%;
  height: 10px;
  margin: auto;
  border-top: 0.4vw solid black;
}

.bottom_commix_frame {
  width: 100%;
  margin: auto;
  height: 2vw;
  position: relative;
  z-index: 110;
  background-color: white;
}

/*# sourceMappingURL=index.css.map */
