.canna_slider {
  margin: -27% 0 -15%;
  background-image: url("../assets/slider/slider_bg.png");
  background-size: cover;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  padding: 20% 0 7%;
  position: relative;

  .slider {
    width: 100%;
    position: relative;
    display: flex;
    margin: 4% 0 5%;

    .slide {
      width: 100%;
      margin-top: -3%;
      padding-bottom: 5%;

      .slide1_text {
        width: 25%;
        position: absolute;
        bottom: 17%;
        left: 5%;
      }
      .slide2_text {
        width: 25%;
        position: absolute;
        bottom: 10%;
        left: 38%;
      }
      .slide3_text {
        width: 12%;
        position: absolute;
        bottom: 10%;
        left: 76.5%;
      }
    }

    * {
      margin: 0;
    }
    .button_prev,
    .button_next {
      position: absolute;
      width: 5%;
      top: -7%;
      z-index: 100;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        transform: scale(1.05);
        transition: 0.3s;
      }
      &:active {
        transform: scale(0.9);
        transition: 0.3s;
      }
    }
    .button_prev {
      right: 10%;
    }
    .button_next {
      right: 2%;
    }
  }
}
