.teamSection {
  background-image: url("../assets/team/team_bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .teamSection_title {
    display: flex;
    width: 70%;
    position: absolute;
    top: 7%;
    left: 10%;
    .the {
      width: 20%;
    }
    .team_title {
      width: 35%;
      margin-left: -30px;
    }
  }

  .teamSection_main {
    padding: 18% 0 26%;
    width: 90%;
    margin: auto;
    position: relative;

    .teamSection_container {
      margin-top: 2%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .leo,
    .anna,
    .fedor,
    .filip,
    .vojta,
    .ramazan {
      width: 27%;
      position: relative;
      margin-bottom: 5%;
      transition: 0.3s;
      img{
        transition: 0.3s;
      }
      .hovered{
          transform: scale(1.1);
          transition: 0.3s;
      }

      .leo_bubble,
      .anna_bubble,
      .fedor_bubble,
      .filip_bubble,
      .vojta_bubble,
      .ramazan_bubble {
        width: 95%;
        position: absolute;
        z-index: 20;
        font-size: 1.2vw;
        text-align: center;

        p{
          width: 70%;
        }
      }

      .leo_bubble {
        top: 60%;
        left: 20%;

        p {
          position: absolute;
          top: 35%;
          left: 15%;
        }
      }

      .filip_bubble {
        top: 60%;
        left: 20%;

        p {
          position: absolute;
          top: 42%;
          left: 15%;
        }
      }

      .vojta_bubble {
        width: 110%;
        top: 60%;
        left: -10%;

        p {
          width: 80%;
          position: absolute;
          top: 35%;
          left: 10%;
        }
      }

      .ramazan_bubble {
        top: 60%;
        left: 5%;

        p {
          position: absolute;
          top: 45%;
          left: 15%;
        }
      }

      .anna_bubble {
        top: -20%;
        left: -40%;

        p {
          position: absolute;
          top: 20%;
          left: 15%;
        }
      }

      .fedor_bubble {
        top: -15%;
        left: -40%;
        width: 110%;
        p {
          width: 80%;
          position: absolute;
          top: 24%;
          left: 8%;
        }
      }
    }
  }

  //==================================================== animatiom
  .bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: 1s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      transform: scale(0.3, 0.3);
    }
    20% {
      transform: scale(1.1, 1.1);
    }
    40% {
      transform: scale(0.9, 0.9);
    }
    60% {
      opacity: 1;
      transform: scale(1.03, 1.03);
    }
    80% {
      transform: scale(0.97, 0.97);
    }
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }

  .zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: none;
  }
  @keyframes zoomOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
      -webkit-transform: scale(.3, .3);
      transform: scale(.3, .3);
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes zoomOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
      -webkit-transform: scale(.3, .3);
      transform: scale(.3, .3);
    }
    100% {
      opacity: 0;
    }
  }
}
