.teamSection {
  background-image: url("../assets/team/team_bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;

  .teamSection_title {
    display: flex;
    width: 70%;
    position: absolute;
    top: 2.3%;
    left: 10%;
    text-align: center;
    justify-content: center;
    .the {
      width: 50%;
    }
  }

  .teamSection_main {
    padding: 12% 0 26%;
    width: 90%;
    margin: auto;
    position: relative;

    .teamSection_container {
      margin-top: 2%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .leo,
    .anna,
    .fedor,
    .filip,
    .vojta,
    .ramazan {
      width: 28%;
      position: relative;
      margin-bottom: 3%;
      transition: 0.3s;
      img {
        transition: 0.3s;
      }
      .hovered {
        transform: scale(1.1);
        transition: 0.3s;
      }

      .leo_bubble,
      .anna_bubble,
      .fedor_bubble,
      .filip_bubble,
      .vojta_bubble,
      .ramazan_bubble {
        position: absolute;
        z-index: 20;
        font-size: 1.2vw;
        text-align: center;

        .bubble_text_title {
          font-size: 2.1vw;
          color: white;
          text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black,
            0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black,
            0 0 2px black;
          -webkit-text-stroke-width: 0.1vw;
          -webkit-text-stroke-color: #000;
        }
        .bubble_text {
        }
      }
      .filip_bubble {
        top: 68%;
        left: 20%;
        width: 89%;
        .bubble_text {
          width: 80%;
          position: absolute;
          top: 20%;
          left: 10%;
        }
      }

      .leo_bubble {
        top: 60%;
        left: -15%;
        width: 100%;
        .bubble_text {
          width: 80%;
          position: absolute;
          top: 30%;
          left: 9%;
          transform: rotate(-3deg);
        }
      }

      .vojta_bubble {
        width: 105%;
        top: 52%;
        left: -31%;
        .team_profession {
          display: block;
        }
        .bubble_text {
          width: 80%;
          position: absolute;
          top: 25%;
          left: 10%;
        }
      }

      .ramazan_bubble {
        top: 48%;
        left: -12%;
        width: 95%;
        .bubble_text {
          position: absolute;
          top: 25%;
          left: 12%;
          width: 80%;
        }
      }

      .anna_bubble {
        top: 48%;
        left: -30%;
        width: 92%;
        .bubble_text {
          width: 75%;
          position: absolute;
          top: 28%;
          left: 17%;
        }
      }

      .fedor_bubble {
        top: 52%;
        left: -50%;
        width: 105%;
        .bubble_text {
          width: 75%;
          position: absolute;
          top: 34%;
          left: 13%;
          transform: rotate(-4deg);
        }
      }
    }
  }

  //==================================================== animatiom
  .bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: 1s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      transform: scale(0.3, 0.3);
    }
    20% {
      transform: scale(1.1, 1.1);
    }
    40% {
      transform: scale(0.9, 0.9);
    }
    60% {
      opacity: 1;
      transform: scale(1.03, 1.03);
    }
    80% {
      transform: scale(0.97, 0.97);
    }
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }

  .zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: none;
  }
  @keyframes zoomOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
      -webkit-transform: scale(0.3, 0.3);
      transform: scale(0.3, 0.3);
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes zoomOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
      -webkit-transform: scale(0.3, 0.3);
      transform: scale(0.3, 0.3);
    }
    100% {
      opacity: 0;
    }
  }
}
